<h1>SBI BANK</h1>
<input type="text" [(ngModel)]="term">
<button (click)="filter()">Filter</button>
<table class="table">
<thead>
    <th>createAt</th>
    <th>account_name</th>
    <th>available_balance</th>
    <th>currency</th>
    <th>user_image</th>
    <th>account_number</th>
    <th>id</th>
</thead>
<tbody>
    <tr *ngFor="let sbi of sbis">
        <td>{{sbi.createAt}}</td>
        <td>{{sbi.account_name}}</td>
        <td>{{sbi.available_balance}}</td>
        <td>{{sbi.currency}}</td>
        <td>{{sbi.user_image}}</td>
        <td>{{sbi.account_number}}</td>
        <td>{{sbi.id}}</td>
        <td><button (click)="delete()">delete</button></td>
    </tr>
</tbody>
</table>
