<h1>Create-Student Form</h1>

<form [formGroup]="studentForm"> 
    <label for="">name:</label>
    <input type="text" formControlName="name">
    <br>
    <label for="">phone</label>
    <input type="number" formControlName="phone">
    <br>
    <label for="">email</label>
    <input type="text" formControlName="email">
    <br>

    <div formGroupName="address">
        <label for="">city</label>
        <input type="text" formControlName="city">
        <br>
        <label for="">state</label>
        <input type="text" formControlName="state">
        <br>
        <label for="">pin</label>
        <input type="number" formControlName="pin">
        <br>
    
    </div>
    <br>
    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormsArray.controls; let i =index">
            <div formGroupName="{{i}}">
                <h2>Enter card {{i+1}} details</h2>
                <label for="">Number</label>
                <input type="number" formControlName="number">
                <br>
                <label for="">expiry</label>
                <input type="month" formControlName="expiry">
                <br>
                <label for="">cvv</label>
                <input type="number" formControlName="cvv">
                <br>
                <button (click)="delete(i)">delete</button>
                


            </div>
        </div>
    </div>
    <button (click)="add()">add card</button>
    <br>
    <label for="">type</label>
    <input type="radio" name="123" formControlName="type" value="dayscholor">
    <label for="">Dayscholar</label>
    <input type="radio" name="123" formControlName="type" value="residencial">
    <label for="">Residencial</label>
    <br>
    <div *ngIf = "studentForm.get('type')?.value=='dayscholor'">
    <label for="">Busfee:</label>
    <input type="number" formControlName="busfee">
    </div> 
    <br>
    <div *ngIf = "studentForm.get('type')?.value=='residencial'">
    <label for="">Hostelfee:</label>
    <input type="number" formControlName="hostelfee">
    </div>
</form>

<button (click)="submit()">submit</button>
