<p>dashboard works!</p>
<div class="parent">
    <div class="left">
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="data-binding">data-binding</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="dirctive">Dirctives</h4>
        <h4 routerLink="gpay">Gpay</h4>
        <h4 routerLink="flipkart">Flipkart</h4>
        <h4 routerLink="vehicle">vehicle</h4>
        <h4 routerLink="bankaccounts"> bankaccounts</h4>
        <h4 routerLink="flipkartapp">FlipkartAPP</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="boredom">Boredom</h4>
        <button class="logout-button" routerLink="/login">logout</button>
        


    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>

</div>
