.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;

}
.left h4:hover{
    background-color: gray;
    cursor: pointer;
}
.left h4{
    margin: 0;
    padding: 15px;
}
.right{
    width: 80%;
    height: 100%;
    background-color: brown;
    overflow: auto;

}
.logout-button{
    margin-top: 50px;
    padding: 6px;
    width: 80%;
    border-radius:10%;
    border-color: orangered;
    cursor: pointer;
    color: rgb(0, 195, 255);
    background-color: blueviolet;
}